<% id = "#{Time.now.to_i}#{(rand * 1000).ceil}" %>

<div class="js-paloma-hook" data-id="<%= id %>">
  <script type="text/javascript">
    (function(){
      // Do not continue if Paloma not found.
      if (window['Paloma'] === undefined) {
        return true;
      }

      Paloma.env = '<%= Rails.env %>';

      // Remove any callback details if any
      $('.js-paloma-hook[data-id!=' + <%= id %> + ']').remove();

      var request = <%= request.to_json.html_safe %>;

      Paloma.engine.setRequest({
        id: "<%= id %>",
        resource: request['resource'],
        action: request['action'],
        params: request['params']});
    })();
  </script>
</div>
